@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@uploadthing/react/styles.css";

html,
body,
:root {
  height: 100%
}

@layer base {
  :root {
    --gradient: linear-gradient(to top left,#091E3A,#2F80ED,#2D9EE0);
    --background: 0 0% 98.04%;
    --foreground: 33 70% 3%;
    --muted: 33 0% 93.08%;
    --muted-foreground: 33 8% 27%;
    --popover: 0 0% 99%;
    --popover-foreground: 33 70% 2%;
    --card: 0 0% 99%;
    --card-foreground: 33 70% 2%;
    --border: 33 7% 93%;
    --input: 33 7% 93%;
    --primary: 33 93% 54%;
    --primary-foreground: 33 93% 14%;
    --secondary: 33 0% 90%;
    --secondary-foreground: 33 19% 29%;
    --accent: 33 0% 93.08%;
    --accent-foreground: 33 29% 23%;
    --destructive: 4.52 80.95% 45.27%;
    --destructive-foreground: 0 0% 100%;
    --ring: 33 93% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 40 2.47% 10.13%;
    --foreground: 0 0% 98.04%;
    --muted: 0 0% 9.41%;
    --muted-foreground: 33 8% 73%;
    --popover: 0 0% 1%;
    --popover-foreground: 0 0% 98.04%;
    --card: 45 18.13% 6.19%;
    --card-foreground: 0 0% 98.04%;
    --border: 0 0.22% 23.79%;
    --input: 0 0% 23.92%;
    --primary: 33 93% 54%;
    --primary-foreground: 33 93% 14%;
    --secondary: 0 0% 12.94%;
    --secondary-foreground: 0 0% 79.22%;
    --accent: 0 0% 11.37%;
    --accent-foreground: 33 12% 83%;
    --destructive: 18 92% 53%;
    --destructive-foreground: 0 0% 0%;
    --ring: 33 93% 54%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*REACT QUILL*/
.ql-container {
  font-size: 16px !important;
}

body .ql-editor {
  height: 200px !important; /* Fixed height */
  width: 350px !important; /* Fixed width */
  overflow: auto !important; /* Enable scrolling */
}

.ql-toolbar.ql-snow {
  border: none !important;
}

.ql-container.ql-snow {
  border: none !important;
}

/* 
.cl-headerTitle,
.cl-socialButtonsBlockButtonText,
.cl-loading,
.cl-formFieldLabel,
.cl-formHeaderTitle,
.cl-selectButton__countryCode,
.cl-selectButton__countryCode p,
.cl-selectOption p,
.cl-selectOption div,
.cl-modalCloseButton,
.cl-navbarButton,
.cl-breadcrumbsItem.cl-breadcrumbsItem__currentPage,
.cl-profileSectionTitle p,
.cl-userPreviewTextContainer,
.cl-profileSectionContent p,
.cl-form p,
.cl-accordionTriggerButton {
  @apply dark:text-foreground;
}

.cl-headerSubtitle,
.cl-dividerText,
.cl-footerActionText,
.cl-alertText,
.cl-formFieldInfoText,
.cl-formFieldSuccessText,
.cl-identityPreviewText,
.cl-userButtonPopoverActionButton,
.cl-userButtonPopoverActionButton svg,
.cl-userButtonPopoverActionButtonText,
.cl-userButtonPopoverFooter p,
.cl-userButtonPopoverFooter a,
.cl-formHeaderSubtitle,
.cl-breadcrumbsItem,
.cl-breadcrumbsItemDivider,
.cl-fileDropAreaHint,
.cl-fileDropAreaFooterHint,
.cl-form p[data-localization-key='userProfile.emailAddressPage.emailCode.formHint'],
p[data-localization-key='userProfile.profilePage.successMessage'] {
  @apply text-muted-foreground;
}

.cl-dividerLine {
  @apply bg-border;
}

.cl-formFieldInput[type='text'],
.cl-formFieldInput[type='email'],
.cl-formFieldInput[type='password'] {
  @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-footerActionLink {
  @apply text-accent-foreground underline hover:text-accent-foreground/90;
}

.cl-otpCodeFieldInput {
  @apply border border-b-input text-foreground;
}

.cl-formResendCodeLink {
  @apply text-primary disabled:opacity-90;
}

.cl-selectSearchInput__countryCode {
  @apply flex h-10 w-full rounded-md border border-b border-input bg-background text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-selectOptionsContainer__countryCode {
  @apply border border-input bg-background;
}

.cl-internal-icon,
.cl-userPreviewSecondaryIdentifier__userButton {
  @apply text-foreground;
}

.cl-profileSectionTitle {
  @apply border-b border-input;
}

button[data-localization-key='userProfile.start.dangerSection.deleteAccountButton'] {
  @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
}

.cl-fileDropAreaBox {
  @apply dark:bg-gray-900;
}

.cl-fileDropAreaIconBox {
  @apply dark:bg-gray-800;
}

.cl-fileDropAreaIcon {
  @apply dark:text-gray-400;
}

.cl-fileDropAreaButtonPrimary {
  @apply h-10 px-4 py-2 text-foreground transition-colors hover:bg-secondary hover:text-accent-foreground;
}

.cl-userButtonPopoverActionButton,
.cl-profileSectionPrimaryButton,
.cl-accordionTriggerButton,
.cl-navbarButton {
  @apply hover:bg-accent hover:text-accent-foreground;
}

.cl-card {
  @apply rounded-lg shadow-md bg-background;
}

.cl-userButtonPopoverCard {
  @apply rounded-md;
}

.cl-userButtonPopoverFooter a {
  @apply hover:text-muted-foreground;
}

.cl-badge {
  @apply rounded-full px-2.5 py-0.5 text-xs;
}

.cl-badge[data-localization-key='badge__unverified'] {
  @apply border bg-transparent text-destructive dark:text-red-500;
}

.cl-formButtonReset {
  @apply text-foreground hover:bg-secondary;
}

.cl-footerAction {
  @apply shadow-md bg-background;
}

.footer {
  @apply shadow-md bg-background;
}

.cl-footer {
  @apply shadow-md bg-background;
}

.cl-internal-180wb59 {
  @apply shadow-md bg-background;
}

.cl-footerAction__signIn {
  @apply shadow-md bg-background;
}

.cl-internal-1rpdi70 {
  @apply shadow-md bg-background;
} */